body{
    margin: 0 auto;
    width: 720px;
    background-color: #ae5dc6;
}

.content{
    border: solid black 2px;
}
.nav-item{
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 4px;
}
.page{
   text-align: center;
}
h1{
    display:flex;
    justify-content:center;
    text-decoration: underline;
    font-family: 'Open Sans Condensed', sans-serif;
}
h2{
    font-weight: bold;
    text-align: center;
    
}
p{
    text-align: center;
    color: #33ffe9;
}
.xtra{
    text-decoration: underline;
}
li{
    text-align: center;
    color:#33ffe9;
    
}
img{
    width: 360px;
    text-align:center; 
    padding-left: 190px;
}
.omega{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 190px;
}
h3{
    text-align: center;
    text-decoration: underline; 
}